
* {
    font-family: sans-serif;
}

/*------------------------------------------------HEADER--------------------------------------------------------------*/

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #464545;
    text-align: center;
}

#theConquerorsLogo {
    width: 75%;
    padding: 20px 30px;
}

/*------------------------------------------------FOOTER--------------------------------------------------------------*/

#footerLink {
    font-size: 12px;
}


/*----------------------------------------------SOCIAL BAR------------------------------------------------------------*/

#socialBar {
    height: 74px;
    text-align: right;
    background-color: #adad5c;
    border-bottom: 4px solid #464545;
}

#qrBtnDiv {
    text-align: left;
}


#qrBtn {
    height: 65px;
    margin: 3px 20px;
    float: left;
    border: 1px solid #464545;
    cursor: pointer;
}

#skipButton {
    display: none;
    width: 180px;
    height: 67px;
    float: left;
    margin: 3px 0 3px 0;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #464545;
    font-size: x-large;
    cursor: pointer;
}

#twitterLink {
    text-decoration: none;
}

#twitterLogo {
    height: 60px;
    width: 75px;
    margin: 7px 16px;
}

#facebookLogo {
    height: 60px;
    width: 60px;
    margin: 7px 16px;
}

#twitterLogo:hover {
    height: 70px;
    width: 85px;
    margin: 2px 8px;
}

#facebookLogo:hover {
    height: 70px;
    width: 70px;
    margin: 2px 11px;

}

/*-------------------------------------------------BODY---------------------------------------------------------------*/

body {
    margin: 0;
    text-align: center;
}

video#preview.active {
    width: 100%;
    text-align: center;
}

#content {
    padding: 20px; 
    background-color: black;
}

/*=============================================LANDING PAGE===========================================================*/

#homeP {
    padding: 75px;
    margin: 30px 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: darkcyan;
    text-align: justify;
    border: 2px solid red;
}

#startBtn:before {
    padding: 3px;
    margin: 0 0;
    position: absolute;
    content: "\276F";
    font-size: 60px;
    color: #adad5c;
}

#startBtn:after {
    padding: 3px;
    margin: 0 -40px;;
    position: absolute;
    content: "\276F";
    font-size: 60px;
    color: #adad5c;
}

#startBtn {
    display: block;
    margin: 20px 20px;
    padding: 10px;
    font-size: 70px;
    text-align: center;
    border-bottom: 1px solid #464545;
    background-color: #464545;
}

#startBtn a {
    padding: 10px 70px;
    text-decoration: none;
    color: #FFFFFF;
}

#tagLine {
    margin: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

#groupList {
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-size: 40px;
}

/*===============================================APP PAGE=============================================================*/

/*-----------------------------------------------PHASE 01-------------------------------------------------------------*/

#instructionsBox {
    display: block;
    padding: 35px;
    margin: 30px 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: darkcyan;
    text-align: justify;
    border: 2px solid red;
}

#instructionsP {
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

#instructionsList {
    text-align: justify;
}

#selectTH {
    color: #000000;
    font-size: 45px;
    text-align: center;
}

#challenges {
    padding: 0;
}

/*-----------------------------------------------PHASE 02-------------------------------------------------------------*/

#usernameBox {
    display: none;
}

#credentials {
    margin: 240px auto;
    text-align: center;
}

#username {
    width: 50%;
    height: 60px;
    margin: 20px auto;
    font-size: 40px;
    border: 2px solid #000000;
    border-radius: 15px;
}

#submitBtn {
    color: #000000;
    font-size: 50px;
}

/*-----------------------------------------------PHASE 03-------------------------------------------------------------*/

#question {
    font-size: 50px;
    margin-right: 25px;
    margin-left: 25px;
}

/* Answer Buttons */
#answerButtons {
    text-align: center;
    margin: 20px 20px;
}

#booleanButtons {
    display: none;
}

.booleanButtons {
    color: #000000;
    font-size: 40px;
    margin: 20px 20px;
}

#mcqButtons {
    display: none;
}

.mcqButtons {
    margin: 20px 20px;
    font-size: 40px;
}

#placeholderBox {
    display: none;
    width: 50%;
    height: 60px;
    margin: 20px auto;
    font-size: 40px;
    border: 2px solid #000000;
    border-radius: 15px;
}

#placeholderSubmit {
    display: none;
    margin: 20px auto;
    font-size: 40px;
}

/*------------------------------------------------NOTES---------------------------------------------------------------*/

#notesList {
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid blue;
}

th, td {
    border-bottom: 1px solid gray;
    text-align: left;
}
