* {
    font-family: sans-serif;
}


/*==========HEADER==========*/
header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #313131;
    text-align: center;
}

#theConquerorsLogo {
    width: 75%;
    padding: 20px 30px;
}


/*==========FOOTER==========*/

#footerLink {
    font-size: 12px;
}


/*========SOCIAL BAR========*/
#socialBar {
    height: 74px;
    text-align: right;
    background-color: #adad5c;
    border-bottom: 4px solid #313131;
}

#qrBtnDiv {
    text-align: left;
}


#qrBtn {
    height: 74px;
    float: left;
    color: #5a5a5a;
    font-size: x-large;
    background-color: #FFFFFF;
}

#twitterLink {
    text-decoration: none;
}

#twitterLogo {
    height: 60px;
    width: 75px;
    margin: 7px 16px;
}

#facebookLogo {
    height: 60px;
    width: 60px;
    margin: 7px 16px;
}

#twitterLogo:hover {
    height: 70px;
    width: 85px;
    margin: 2px 8px;
}

#facebookLogo:hover {
    height: 70px;
    width: 70px;
    margin: 2px 11px;

}


/*===========BODY==========*/
body {
    margin: 0;
    text-align: center;
}

video#preview.active {
    width: 100%;
    text-align: center;
}


/*==========LANDING PAGE==========*/
#homeP {
    padding: 75px;
    margin: 30px 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: darkcyan;
    text-align: justify;
    border: 2px solid grey;
}

#startBtn {
    display: block;
    margin: 20px 20px;
    padding: 10px;
    font-size: 70px;
    text-align: center;
    border-bottom: 1px solid #313131;
    background-color: #313131;
}

#startBtn a {
    text-decoration: none;
    color: #FFFFFF;
}

#tagline {
    text-align: center;
    font-size: x-large;
}

#groupList {
    text-align: left;
}


/*==========APP PAGE==========*/

/* PHASE 1 */

#instructionsBox {
    display: block;
    padding: 10px;
    margin: 30px 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: darkcyan;
    text-align: justify;
    border: 2px solid red;
}

#selectTH {
    color: #313131;
    font-size: 45px;
    text-align: center;
}


/* PHASE 2 */

#usernameBox {
    display: none;
}

#credentials {
    margin: 50px auto;
    text-align: center;
}

#username, #appName {
    width: 50%;
    height: 60px;
    margin: 20px auto;
    color: #313131;
    font-size: 40px;
    border: 2px solid #313131;
    border-radius: 15px;
}

#submitBtn {
    color: #313131;
    font-size: 50px;
}

#successMessage {
    display: none;
}


/*==========NOTES==========*/
#notesList {
    text-align: left;
}

table{
    width: 100%;
    border: 1px solid blue;
}
th,td {
    border-bottom:1px solid gray;
    text-align: left;
}