/*-----------------------------------------------MOBILE--------------------------------------------------------------*/
@media only screen and (max-width: 1000px) {

    * {
        font-family: sans-serif;
    }

    /*------------------------------------------------HEADER--------------------------------------------------------------*/
    header {
        width: 100%;
        height: 200px;
        text-align: center;
        background-color: white;
    }

    #theConquerorsLogo {
        width: 75%;
        height: 200px;
    }

    /*------------------------------------------------FOOTER--------------------------------------------------------------*/
    footer {
        margin: 50px;
    }


    /*----------------------------------------------SOCIAL BAR------------------------------------------------------------*/
    #socialBar {
        margin: 15px;
        position: absolute;
        height: 100px;
        text-align: center;
        background-color: #4c96d7;
        border-radius: 10px;
    }


    #locationButton {
        display: none;
        float: right;
        background: transparent;
        margin: 0 0 0 20px;
    }

    #locationImg {
        display: block;
        margin: 10px;
        width: 100px;
    }

    #goHome {
        float: right;
        background: transparent;
        margin: 0 0 0 20px;
    }

    #homeImg {
        display: block;
        margin: 10px;
        width: 100px;
    }

    #qrButton {
        float: right;
        background: transparent;
        margin: 0 0 0 20px;

    }

    #qrImg {
        display: block;
        margin: 10px;
        width: 100px;
    }

    #skipButton {
        display: none;
        position: absolute;
        height: 100px;
        right: 25px;
        top: 50px;
        float: right;
        width: 280px;
        font-size: 40px;
        border-radius: 60px;
        cursor: pointer;
    }

    #noButton {
        width: 60px;
    }

    #yesButton {
        width: 60px;
    }

    #twitterLink {
        text-decoration: none;
    }

    #twitterLogo {
        height: 70px;
        width: 70px;
        margin: 15px;
    }

    #twitterLogo:hover {
        height: 80px;
        width: 80px;
        margin: 2px 10px;
    }

    #facebookLogo {
        height: 70px;
        width: 70px;
        margin: 15px;
    }

    #facebookLink {
        text-decoration: none;
    }

    #facebookLogo:hover {
        height: 80px;
        width: 80px;
        margin: 2px 10px;

    }

    #githubLogo {
        height: 70px;
        width: 70px;
        margin: 15px;
    }

    #githubLogo:hover {
        height: 80px;
        width: 80px;
        margin: 2px 10px;

    }

    #gitHubLink {
        text-decoration: none;
    }

    .timeline-Widget {
        width: 100%;
    }

    /*-------------------------------------------------BODY---------------------------------------------------------------*/
    body {
        height: 1440px;
        background-color: #071230;
        margin: 0;
        text-align: center;
    }

    #headBar {
        height: 130px;
        background-color: #212121;
    }

    /*=============================================LANDING PAGE===========================================================*/
    #homeP {
        padding: 75px;
        margin: 0 auto;
        font-size: 20px;
        color: #464545;
        background-color: #FFFFFF;
        text-align: center;
        border: 2px solid #464545;
    }

    #developersList {
        margin: 50px;

    }

    #tagLine {
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
        font-size: 70px;
        font-weight: 900;
    }

    #groupList {
        padding: 0;
        text-align: center;
        color: #FFFFFF;
        list-style-type: none;
        font-size: 60px;
    }

    #startButton:before {
        padding: 3px;
        margin: 0 -78px;
        position: absolute;
        content: "\276F";
        font-size: 60px;
        color: #212121;
    }

    #startButton {
        display: block;
        margin: auto;
        padding: 50px 120px;
        font-size: 60px;
        color: #FFFFFF;
        text-align: center;
        background-color: #464545;
        box-shadow: 2px 2px 45px;
    }

    #startButton:after {
        padding: 3px;
        margin: 0 42px;
        position: absolute;
        content: "\276F";
        font-size: 60px;
        color: #212121;
    }

    #startButton a {
        padding: 10px 70px;
        text-decoration: none;
        color: #FFFFFF;
    }

    /*===============================================APP PAGE=============================================================*/
    /*-----------------------------------------------PHASE 01-------------------------------------------------------------*/
    #instructionsPbox {
        display: block;
    }

    #instructionsH {
        margin: 20px 0;
        font-size: 30px;
        color: #464545;
        background-color: #FFFFFF;
        text-align: center;
        border: 2px solid #464545;

    }

    #instructionsP {

        margin: 0 auto 30px;
        padding: 75px;
        font-size: 20px;
        color: #464545;
        background-color: #FFFFFF;
        text-align: left;
        border: 2px solid #464545;
    }

    #selectTH {
        margin: auto;
        padding: 50px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 900;
        text-align: center;
    }

    #selectTH:after {
        content: "\002B";
        margin: 10px 20px;
    }

    #selectTH2 {
        display: none;
        margin: auto;
        padding: 50px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 900;
        text-align: center;
    }

    #selectTH2:after {
        content: "\2212";
        margin: 10px 20px;
    }

    #challenges {
        display: none;
        margin: 0 auto 30px auto;
        padding: 0;
    }

    /*-----------------------------------------------PHASE 02-------------------------------------------------------------*/
    #usernameBox {
        display: none;
    }

    #credentials {
        margin-top: 90px;
        text-align: center;
    }

    #usernameMessage {
        display: none;
        font-size: 60px;
        color: #FFFFFF;
        font-weight: 900;
    }

    #username {
        width: 60%;
        height: 70px;
        margin: 20px auto;
        font-size: 40px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #submitButton {
        width: 60%;
        margin-bottom: 20px;
        color: #000000;
        font-size: 50px;
    }

    #continueButton {
        width: 60%;
        margin-bottom: 20px;
        color: #000000;
        font-size: 50px;
    }

    #submitButtonNewGame {
        width: 60%;
        margin-bottom: 20px;
        color: #000000;
        font-size: 50px;
    }

    #messageBoxDiv {
        display: none;
    }

    #messageBoxP {
        display: none;
        margin: 0;
        padding: 0 5px;
        color: red;
        font-size: 54px;
        font-weight: 900;
    }

    #gameAttributes {
        display: none;
        padding: 5px;
        height: 190px;
        text-align: left;
    }

    #gameStats {
        padding: 10px;
    }

    #playerNameP {
        margin: 0;
        font-size: 40px;
        color: #212121;
        font-weight: 900;
    }

    #scoreP {
        margin: 0;
        font-size: 40px;
        color: #212121;
        font-weight: 900;
    }

    #currentQuestionP {
        margin: 0;
        font-size: 40px;
        color: #212121;
        font-weight: 900;
    }

    #treasureHuntsDescriptionParagraph {
        display: none;
        margin: 320px auto 20px auto;
        padding: 30px;
        font-size: 50px;
        background-color: #FFFFFF;
        color: #464545;
        border: 10px solid #212121;
    }

    #loading {
        display: none;
        width: 100%;
        height: 1600px;
    }

    /*-----------------------------------------------PHASE 03-------------------------------------------------------------*/
    #questionSection {
        display: none;
        margin: 50px;
        height: 300px;
        padding: 20px;
        font-size: 60px;
    }

    #question {
        color: #FFFFFF;
        margin: 0 auto;
    }

    #question a {
        color: red;
    }

    #skipPopUp {
        display: none;
        border: 1px solid #464545;
        background-color: white;
        font-size: 50px;
    }

    /* Answer Buttons */
    #answerButtons {
        text-align: center;
        margin: 20px 20px;
    }

    #booleanButtons {
        display: none;
    }

    .booleanButtons {
        width: 170px;
        color: #000000;
        font-size: 60px;
        margin: 20px 20px;
    }

    #mcqButtons {
        display: none;
    }

    .mcqButtons {
        width: 170px;
        color: #000000;
        font-size: 60px;
        margin: 20px 20px;
    }

    #placeholderBox {
        display: none;
        float: left;
        width: 70%;
        height: 70px;
        margin: 20px 0 20px 30px;
        font-size: 40px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #placeholderSubmit {
        display: none;
        float: right;
        margin: 20px 30px 20px 0;
        height: 76px;
        color: #000000;
        font-size: 50px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #placeholderNumberBox {
        display: none;
        float: left;
        width: 70%;
        height: 70px;
        margin: 20px 0 20px 30px;
        font-size: 40px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #placeholderNumberSubmit {
        display: none;
        float: right;
        margin: 20px 30px 20px 0;
        height: 76px;
        color: #000000;
        font-size: 50px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    /*-----------------------------------------------PHASE 04-------------------------------------------------------------*/
    #enjoyGame {
        display: none;
    }

    #ask, #ask1 {
        font-size: 40px;
        color: deeppink;
        font-weight: 900;
        margin: 0 100px;
        padding: 40px;
        border-top: 3px solid grey;
    }

    #leaderBoardTable {
        display: none;
        margin: 30px auto;
        background-color: #FFFFFF;
        font-size: 40px;
    }

    #leaderBoardTable th {
        background-color: #212121;
    }

    #rank {
        width: 10%;
        color: #FFFFFF;
    }

    #playerHead {
        width: 35%;
        color: #FFFFFF;
    }

    #scoreHead {
        width: 15%;
        color: #FFFFFF;
    }

    #timeHead {
        width: 40%;
        color: #FFFFFF;
    }

    #leaderBoardTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }


    /*================================================QR PAGE=============================================================*/
    #preview {
        width: 100%;
        height: 1000px;
        background-color: black;
        text-align: center;
    }

    #content {
        width: 100%;
        text-decoration: none;
        margin: auto;
        font-size: 60px;
        background-color: white;
        color: #464545;
        text-align: center;
    }

    #goBack {
        float: right;
        margin: 27px 30px 20px 0;
        height: 76px;
        color: #000000;
        font-size: 50px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #switchCamera {
        float: right;
        margin: 27px 30px 20px 0;
        height: 76px;
        color: #000000;
        font-size: 50px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #map {
        display: none;
        margin-bottom: 50px;
        top: 200px;
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        bottom: 0;
    }
}


/*-----------------------------------------------DESKTOP--------------------------------------------------------------*/
@media only screen and (min-width: 1001px) {

    * {
        font-family: sans-serif;
    }

    /*------------------------------------------------HEADER--------------------------------------------------------------*/
    header {
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: white;
    }

    #theConquerorsLogo {
        padding: 5px;
        width: 50%;
        height: 60px;
    }

    /*------------------------------------------------FOOTER--------------------------------------------------------------*/
    footer {
        width: 100%;
        text-align: center;
        margin: 25px;
    }


    /*----------------------------------------------SOCIAL BAR------------------------------------------------------------*/
    #socialBar {
        margin: 5px;
        position: absolute;
        height: 40px;
        text-align: center;
        background-color: #4c96d7;
        border-radius: 10px;
    }

    #twitterLink {
        text-decoration: none;
    }

    #twitterLogo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    #twitterLogo:hover {
        height: 34px;
        width: 34px;
        margin: 2px 3px;
    }

    #facebookLogo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    #facebookLink {
        text-decoration: none;
    }

    #facebookLogo:hover {
        height: 34px;
        width: 34px;
        margin: 2px 3px;

    }

    #githubLogo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    #githubLogo:hover {
        height: 34px;
        width: 34px;
        margin: 2px 3px;

    }

    #gitHubLink {
        text-decoration: none;
    }

    #locationButton {
        display: none;
        float: right;
        background: transparent;
        margin: 0 0 0 20px;
    }

    #locationImg {
        display: block;
        margin: 10px;
        width: 24px;
    }

    #goHome {
        float: right;
        background: transparent;
        margin: 0 0 0 20px;
    }

    #homeImg {
        display: block;
        margin: 10px;
        width: 24px;
    }

    #qrButton {
        float: right;
        background: transparent;
        margin: 0 0 0 20px;
    }

    #qrImg {
        display: block;
        margin: 10px;
        width: 24px;
    }

    #skipButton {
        display: none;
        position: absolute;
        right: 10px;
        top: 9px;
        float: right;
        font-size: 40px;
        cursor: pointer;
    }

    /*-------------------------------------------------BODY---------------------------------------------------------------*/
    body {
        height: 900px;
        background-color: #071230;
        margin: 0;
        text-align: center;
    }

    #headBar {
        height: 50px;
        background-color: #212121;
    }

    /*=============================================LANDING PAGE===========================================================*/
    #homeP {
        padding: 20px 100px;
        margin: 0 200px;
        font-size: 15px;
        color: #464545;
        background-color: #FFFFFF;
        text-align: center;
        border: 2px solid #464545;
    }


    #tagLine {
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 900;
    }

    #groupList {
        padding: 0;
        text-align: center;
        color: #FFFFFF;
        list-style-type: none;
        font-size: 15px;
    }

    #startButton:before {
        margin: -12px -78px;
        position: absolute;
        content: "\276F";
        font-size: 40px;
        color: #212121;
    }

    #startButton {
        display: block;
        margin: auto;
        padding: 15px 120px;
        font-size: 30px;
        color: #FFFFFF;
        text-align: center;
        background-color: #464545;
        box-shadow: 2px 2px 45px;
    }

    #startButton:after {
        margin: -12px 42px;
        position: absolute;
        content: "\276F";
        font-size: 40px;
        color: #212121;
    }

    #startButton a {
        padding: 10px 70px;
        text-decoration: none;
        color: #FFFFFF;
    }

    /*===============================================APP PAGE=============================================================*/
    /*-----------------------------------------------PHASE 01-------------------------------------------------------------*/
    #instructionsPbox {
        display: block;
    }

    #instructionsH {
        padding: 20px 200px;
        margin: 20px 200px;
        font-size: 20px;
        color: #464545;
        background-color: #FFFFFF;
        text-align: center;
        border: 2px solid #464545;

    }

    #instructionsP {
        padding: 20px 100px;
        margin: 0 200px 15px;
        font-size: 15px;
        color: #464545;
        background-color: #FFFFFF;
        text-align: left;
        border: 2px solid #464545;
    }

    #selectTH {
        margin: auto;
        padding: 5px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
    }

    #selectTH:after {
        content: "\002B";
        margin: 10px 20px;
    }

    #selectTH2 {
        display: none;
        margin: auto;
        padding: 5px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
    }

    #selectTH2:after {
        content: "\2212";
        margin: 10px 20px;
    }

    #treasureHuntsButton1 {
        font-size: 5px;
    }

    #challenges {
        display: none;
        margin: 0 auto 30px auto;
        padding: 0;
    }

    /*-----------------------------------------------PHASE 02-------------------------------------------------------------*/
    #usernameBox {
        display: none;
    }

    #credentials {
        text-align: center;
    }

    #usernameMessage {
        display: none;
        margin: 10px;
        font-size: 30px;
        color: #FFFFFF;
        font-weight: 900;
    }

    #username {
        width: 40%;
        height: 40px;
        margin: 0 auto 20px;
        font-size: 30px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #submitButton {
        width: 90px;
        color: #000000;
        font-size: 40px;
    }

    #continueButton {
        width: 90px;
        font-size: 40px;
    }

    #submitButtonNewGame {
        width: 60%;
        margin-bottom: 20px;
        color: #000000;
        font-size: 50px;
    }

    #messageBoxDiv {
        display: none;
    }

    #messageBoxP {
        display: none;
        margin: 20px;
        padding: 0 5px;
        color: red;
        font-size: 20px;
        font-weight: 900;
    }

    #gameAttributes {
        display: none;
        height: 50px;
        padding: 5px;
        text-align: left;
    }


    #playerNameP {
        margin: 0;
        font-size: 14px;
        color: #212121;
        font-weight: 900;
    }

    #scoreP {
        margin: 0;
        font-size: 14px;
        color: #212121;
        font-weight: 900;
    }

    #currentQuestionP {
        margin: 0;
        font-size: 14px;
        color: #212121;
        font-weight: 900;
    }


    #treasureHuntsDescriptionParagraph {
        display: none;
        margin: 0 200px;
        padding: 20px 100px;
        font-size: 15px;
        background-color: #FFFFFF;
        color: #464545;
        border: 2px solid #464545;
    }

    #loading {
        display: none;
        width: 100%;
        height: 800px;
        margin: 0 auto;
    }

    /*-----------------------------------------------PHASE 03-------------------------------------------------------------*/
    #questionSection {
        height: 100px;
        display: none;
        padding: 20px;
        font-size: 60px;
    }

    #question {
        color: #FFFFFF;
        margin: 0 auto;
        font-size: x-large;
    }

    #question a {
        color: red;
    }

    #skipPopUp {
        display: none;
        border: 1px solid #464545;
        background-color: white;
        font-size: 50px;
    }

    /* Answer Buttons */
    #answerButtons {
        text-align: center;
        margin: 20px 20px;
    }

    #booleanButtons {
        display: none;
    }

    .booleanButtons {
        color: #000000;
        font-size: 25px;
        margin: 20px 20px;
    }

    #mcqButtons {
        display: none;
    }

    .mcqButtons {
        color: #000000;
        font-size: 25px;
        margin: 20px 20px;
    }

    #placeholderBox {
        display: none;
        padding: 0;
        margin: 10px auto;
        height: 40px;
        color: #000000;
        font-size: 40px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #placeholderSubmit {
        display: none;
        margin: 10px auto;
        color: #000000;
        font-size: 25px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #placeholderNumberBox {
        display: none;
        padding: 0;
        margin: 10px auto;
        height: 40px;
        color: #000000;
        font-size: 40px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #placeholderNumberSubmit {
        display: none;
        margin: 10px auto;
        color: #000000;
        font-size: 25px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #skipMessage {
        font-size: 30px;
    }

    /*-----------------------------------------------PHASE 04-------------------------------------------------------------*/
    #enjoyGame {
        display: none;
    }


    #ask, #ask1 {
        margin: 0 100px;
        font-size: xx-large;
        color: deeppink;
        font-weight: 900;
        padding: 40px;
        border-top: 3px solid grey;
    }

    #leaderBoardTable {
        display: none;
        margin: 30px 0;
        background-color: #FFFFFF;
        font-size: 25px;
    }

    #leaderBoardTable th {
        background-color: #212121;
    }

    #leaderBoardTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #rank {
        color: #FFFFFF;
    }

    #playerHead {
        color: #FFFFFF;
        width: 50%;
    }

    #scoreHead {
        color: #FFFFFF;
        width: 10%;
    }

    #timeHead {
        color: #FFFFFF;
        width: 50%;
    }

    /*================================================QR PAGE=============================================================*/
    #preview {
        width: 100%;
        height: 500px;
        background-color: black;
        text-align: center;
    }

    #content {
        width: 100%;
        text-decoration: none;
        margin: auto;
        font-size: 60px;
        background-color: white;
        color: #464545;
        text-align: center;
    }

    #goBack {
        float: right;
        margin: 5px 10px;
        height: 40px;
        color: #000000;
        font-size: 30px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #switchCamera {
        float: right;
        margin: 5px 10px;
        height: 40px;
        color: #000000;
        font-size: 30px;
        border: 2px solid #000000;
        border-radius: 15px;
    }

    #map {
        display: none;
        margin-bottom: 30px;
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        bottom: 0;
    }
}


/*------------------------------------------------NOTES---------------------------------------------------------------*/

#notesList {
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid blue;
}

th, td {
    border-bottom: 1px solid gray;
    text-align: left;
}



#map {
    top: 100px;
}