    /*---------------------------------------------TEST PAGE--------------------------------------------------------------*/
* {
    font-family: sans-serif;
    background-color: lightyellow;
}

/*------------------------------------------------HEADER--------------------------------------------------------------*/

header {
    width: 100%;
    text-align: center;
    background-color: white;
}

#theConquerorsLogo {
    width: 75%;
    padding: 20px 30px;
}

/*--------------------------------------------------BODY--------------------------------------------------------------*/

#testButton1, #testButton2, #testButton3, #testButton4, #buttonClearList {
    font-size: xx-large;
}


table, th, td {
    font-size: 25px;

    border: 1px solid black;
    padding: 2px;
}