/*---------------------------------------------TEST PAGE--------------------------------------------------------------*/
* {
    font-family: sans-serif;
    background-color: lightyellow;
}

/*------------------------------------------------HEADER--------------------------------------------------------------*/

header {
    width: 100%;
    text-align: center;
    background-color: white;
}

#theConquerorsLogo {
    width: 75%;
    padding: 20px 30px;
}

/*--------------------------------------------------BODY--------------------------------------------------------------*/

#testButton1, #testButton2, #testButton3, #testButton4, #buttonClearList {
    font-size: xx-large;
}

#firstTest, #secondTest, #thirdTest, #titleSeven {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

#challenges1, #challenges2, #challenges3 {
    font-size: 25px;
}

#firstResult, #secondResult, #thirdResult {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    display: none;
}